@{
    ViewData["Title"] = "About me";
}
<h1>@ViewData["Title"]</h1>

<h2>Name</h2>
<p>My name is Kyohei Yamaguchi（山口 恭平）</p>

<h2>Skills</h2>
<ul>
    <li>Python</li>
    <li>TypeScript</li>
    <li>Docker</li>
    <li>JavaScript</li>
    <li>C#</li>
</ul>
