@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kyohei's Page</h1>
    <p>My Github Profile: <a href="https://github.com/Kyohei-us">https://github.com/Kyohei-us</a></p>
</div>

